<div mat-dialog-title>
  <span>{{ 'PasswordInfo' | translate }}</span>
  <mat-icon (click)="cancelClick()" matTooltip="{{ 'Close' | translate }}" class="closeFormId">close</mat-icon>
</div>

<div mat-dialog-content>
  <form name="fmUser" [formGroup]="fmUser" class="formKeyId">
    <fieldset>
      <legend>{{ 'UserDet' | translate }}</legend>
      <div class="d-flex">
        <mat-form-field class="flex-1 m-lr-2">
          <input matInput placeholder="{{ 'Username' | translate }}" formControlName="Username" autocomplete="off"
            enterKeyFocus>
        </mat-form-field>
      </div>
      <div class="d-flex">
        <mat-form-field class="flex-1 m-lr-2">
          <input matInput placeholder="{{ 'Password' | translate }}" formControlName="Password" autocomplete="off"
            enterKeyFocus>
          <mat-hint>{{'PasswordStrength1' | translate}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="flex-1 m-lr-2">
          <input matInput placeholder="{{ 'ConfirmPassword' | translate }}" formControlName="ConfirmPassword"
            autocomplete="off" enterKeyFocus>
          <mat-hint>{{'PasswordStrength2' | translate}} Eg: user#6</mat-hint>
        </mat-form-field>
      </div>
    </fieldset>
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="changePassword()" color="accent">{{ 'ChangePassword' | translate }}</button>
  <button mat-raised-button (click)="cancelClick()" color="primary">{{ 'Close' | translate }}</button>
</mat-dialog-actions>