.mat-column-Remark{
    width: 55% ​!important;
}
.mat-column-RemarkDate{
    width: 150px !important;
}
.mat-column-RemarkBy{
    width: 135px !important;
}
.role-navigation-grid{
    .mat-row.highlighted {
        background:none !important;
    }
}
