.mat-column-ListItem {
  width: 200px !important;
}
.mat-column-Description {
  width: 250px !important;
}
.mat-column-Category {
  width: 150px !important;
}
.mat-column-CategoryDescription {
  width: 200px !important;
}
