.mat-dialog-content {
  margin: 0 !important;
  padding: 0 24px !important;
}
.mat-dialog-actions {
  justify-content: flex-end;
  gap: 8px;
}
.confirm-dialog-wrapper {
  width: 28vw !important;
  min-height: 16vh !important;
}
