.user-role-list-dialog {
  width: 66vw !important;
  min-height: 70vh !important;
}
.mat-column-Remark {
  width: 55% ​ !important;
}
.mat-column-RemarkDate {
  width: 150px !important;
}
.mat-column-RemarkBy {
  width: 135px !important;
}
