.mat-column-Username {
  width: 250px !important;
}
.mat-column-FirstName {
  width: 200px !important;
}
.mat-column-MiddleName {
  width: 200px !important;
}
.mat-column-LastName {
  width: 200px !important;
}
.mat-column-DefaultApplication {
  width: 200px !important;
}
.mat-column-Company {
  width: 200px !important;
}
.mat-column-DefaultNavigation {
  width: 200px !important;
}
.mat-column-Culture {
  width: 100px !important;
}
.mat-column-CurrentRole {
  width: 200px !important;
}
.mat-column-Office {
  width: 200px !important;
}
