<div class="site-content">
  <div class="site-content-header">
    <div class="search-bar">
      <mat-form-field class="table-search-form-field m-4" appearance="fill"
        matTooltip="{{ 'SearchMessageText' | translate }}">
        <mat-label>{{ 'Search' | translate }}</mat-label>
        <input #searchText matInput (keyup.enter)="applyFilter($event)">
        <mat-icon matTooltip="{{ 'Clear' | translate }}" (click)="clearSearch()" class="clear-search-icon" matSuffix>
          close</mat-icon>
      </mat-form-field>

      <mat-form-field class="table-search-form-field m-4" appearance="fill">
        <mat-label>{{ 'Status' | translate }}</mat-label>
        <mat-select multiple [(ngModel)]="statusModel" #selectionModel="ngModel" (ngModelChange)="onStatusChange()">
          <select-check-all [model]="selectionModel" [values]="statusModel">
          </select-check-all>
          <mat-option *ngFor="let dt of  statusList;" [value]="dt.ListItemId">
            {{ dt.ListItem | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Navigation Action -->
    <div class="flex-1">
      <nav-action (onActionClick)="onActionClick($event)">
      </nav-action>
    </div>
    <!-- Navigation Action -->
  </div>

  <!-- Grid -->
  <mat-grid [config]="gridConfig" (onRowActionClick)="onRowActionClick($event)" (onRowDblClick)="onRowDblClick($event)"
    (onRowClick)="onRowClick($event)" (onPageChange)="onPageChange($event)" (onSortChange)="onSortChange($event)">
  </mat-grid>
  <!-- Grid -->
</div>